name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}

jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          user: wakinoza
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Asia/Tokyo

          plugin_languages: yes
          plugin_languages_details: percentage 
          
          config_order: base.header, isocalendar, languages
